$color-primary: #38d9a9;

$color-primary-light: #63e6be;
$color-primary-light-1: #96f2d7;
$color-primary-light-2: #c3fae8;

$color-primary-dark: #12b886;
$color-primary-dark-1: #099268;
$color-primary-dark-2: #087f5b;

$color-secondary: #f5f6ea;
$color-secondary-dark-1: #cfd0ca;

$background-glass-1: #f5f6eaa4;

$text-color-primary: #777;

$map-background-1: #19161fe3;
$map-background-2: #19161ff3;

///////////////////////////////////
///
// RESPONSIVE

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 46.25em; //600px
